//FIRST SECTION
.face {
    position: relative;
    height: 600px;
    background-image: url(../img/head_background.png);
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;

    .text {
        position: absolute;
        top: 10vh;
        left: 10vw;

        h1 {
            max-width: 875px;
            color: white;
            font-size: 48px;
            font-weight: bold;
        }

        p {
            margin-top: 25px;
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.8);
            max-width: 470px;
        }

        .calculate_group {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            a {
                color: white;

                #circle,
                #vector {
                    transition: all 0, 1s ease;
                }

                #Group_calculate {
                    stroke: white;
                }

                #Group_calculate:hover {
                    stroke: #FFC239;
                }
            }

            a:hover {
                color: #FFC239;
            }
        }
    }
}


//TABS
.tabs {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 80px;

    h1 {
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 20px;
    }
}

.tabs__nav_btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.tabs__nav_btn {
    font-size: 20px;
    font-weight: 500;
    color: #212864;
    padding: 10px 30px;
}

.tabs__nav_btn.active {
    background-color: #FFC239;
}

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}


//TABS>>slider

.slider_card {
    width: 285px;
    height: 355px;
    border-radius: 10px;
    background-color: rgba(152, 144, 144, 0.31);
    margin: 0 auto;

    .card_photo {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 285px;
        height: 140px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    .card_content {
        color: black;
        width: 85%;
        margin: 0 auto;

        h2 {
            font-size: 18px;
            font-weight: bold;
        }

        table {
            margin-top: 15px;
            margin-bottom: 20px;
            width: 100%;

            tr {
                display: inline-block;
                width: 100%;

                td {
                    display: inline-block;
                    width: 50%;
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.8);
                }
            }
        }

        .cost {
            font-weight: bold;
            font-size: 22px;
        }
    }
}

.swiper {
    max-width: 90vw;
}

.section_btn {
    margin: 0 auto;
    width: 310px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.all_projects_btn {
    font-size: 16px;
    background-color: #212864;
    color: white;
    padding: 15px 30px;
    transition: 0.2s;
    text-align: center;
}

.all_projects_btn:hover {
    background-color: #FFC239;
    color: #212864;
    border: 1px solid #212864;
}

//FAMILY SLIDER
.family_slider {
    .request {
        width: 25%;
    }

    .family_slider_images {
        display: flex;
        justify-content: space-between;

        .post {
            height: 144px;
        }
    }

    h2 {
        font-size: 38px;
        font-weight: 400px;
        max-width: 45vw;
        margin-bottom: 50px;
        margin-top: 30px;

        span {
            font-weight: bold;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 80%;
    }

    .swiper-button-prev {
        left: auto;
        right: 100px;
    }

    .swiper-pagination {
        bottom: 91px;
        right: 50px;
        left: auto;
        width: 35px;
    }
}


.family_slider_slide_1,
.family_slider_slide_2 {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 90vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.family_slider_slide_1 {
    background-image: url(../img/second_slider_family_1.png);
}

.family_slider_slide_2 {
    background-image: url(../img/second_slider_family_2.png);
}


//BENEFITS

.benefits {
    margin: 0 auto;
    display: block;
    margin-top: 70px;
    margin-bottom: 40px;
    padding-top: 40px;
    width: 90%;
    background-image: url(../img/benefits_background.png);
    background-color: rgba(246, 246, 249, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;

    h1 {
        width: 40%;
        font-weight: bold;
        text-align: left;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .benefits_slider {
        padding-bottom: 60px;
        padding-top: 10px;
        height: 670px;
        width: 90%;
        margin:0 auto;
    .swiper-button-next, .swiper-button-prev {
        top: auto;
        bottom: 1.5%;
    }

        .benefits_slide {
            display: flex;
            height: calc((90% - 30px) / 4);
            flex-direction: row;
            align-items: center;
            width: 45%;
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.8);

            .slide_text {
                margin-left: 10px;
                width: 80%;

                h2 {
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                p {
                    font-family: 'Montserrat';
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.6);
                }
            }

            .slide_image {
                margin-right: 10px;
            }
        }
    }
    .news {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 30px 0;
        .news_container {
            width: 95%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 10px;
            flex-direction: row;
            flex-wrap: wrap;
            .text {
                flex-shrink: 10;
                min-width: 310px;
                max-width: 80%;
                h2 {
                    font-size: 30px;
                    span {
                        font-weight: bold;
                    }
                }
                p {
                    font-size: 14px;
                    font-family: 'Montserrat';
                }
            }
            .button {
                flex-shrink: 0;
                text-align: center;
                min-width: 230px;
                a{
                    color: white;
                    background-color: #212864;
                    border: 2px solid #212864;
                    padding: 10px 20px;
                    font-weight: bold;
                    transition: 0.2s;
                }
                a:hover {
                    color: #212864;
                    background-color:white;
                }
            }
        }
    }
}

//CONTACT_US

.contact_us {
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
    max-width: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/just_house.png);
    .request {
        width: 10%;
        position: absolute;
        right: 10%;
        bottom: 10%;
    }
    
    .family_slider_images {
        display: flex;
        justify-content: space-between;
    
        .post {
            height: 144px;
        }
    }
    
    h2 {
        font-size: 38px;
        font-weight: 400px;
        max-width: 45vw;
        margin-bottom: 50px;
        margin-top: 30px;
    
        span {
            font-weight: bold;
        }
    }
        p{
            font-size: 18px;
            font-weight: 400px;
            max-width: 45vw;
            margin-top: 30px;
        }

}

//REVIEWS
.reviews {
    margin-bottom: 50px;
    .swiper-button-prev {
        left: 30%;
        right: auto;
    }
    .swiper-button-next {
        right: 30%;
        left: auto;
    }
}

.reviews_slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    background-color: rgba(104, 99, 134, 0.288);
    border-radius: 25px;
    h3 {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
        font-family: 'Montserrat';
        margin: 15px 10px;
    }
    .horizontal_element {
        width: 50px;
        height: 3px;
        background-color: #FFC239;
        margin-top: 30px;
    }
}





