h1 {
    font-size: 32pt;
}

//BODY
body {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
}

//BUTTONS
.btn {
    display: block;
    font-size: 12px;
    border: 2px solid;
    border-radius: 25px;
}

.order_btn {
    padding: 10px 40px;
    color: #212864;
    border-color: #212864;
    transition: 0.2s;
}

.order_btn:hover {
    color: white;
    background-color: #212864;
}

//HEADER

.upper_head, .head {
    transition: 0.2s all;
    position: relative;
    display: flex;
    width: 70vw;
    gap: 10px;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.head {
    width: 95vw;
    margin: 0 auto;
    margin-top: 10px;
}
.logo {
    max-width: 200px;
    max-height: 100px;
    img{
        width: 100%;
        object-fit: contain;
    }
}
.nav_mobile {
    display: none;
    background-color: #212864;
    border-radius: 10px;
    padding: 20px;
}

.logo {
    p {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.7);
        text-align: center;
    }
}

.numbers,
.adress {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.phone_number {
    font-size: 16px;
    font-weight: bold;
    color: #212864
}
.social {
    width: 182px;
    flex-shrink: 0;
}
.social_icons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

//HEAD >>> navigation
.nav {
    background-color: #15193D;
    height: 55px;
}

.nav_bar,
.nav_catalog {
    max-width: 88vw;
    margin: 0 auto;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav_link {
    color: white;
    font-size: 14px;
    transition: 0.1s;
}

.nav_link:hover,
.nav_link:active {
    color: #FFC239
}

.catalog {
    background-color: #8C93D1;
    height: 55px;

    .vertical {
        height: 45px;
        width: 2px;
        background-color: rgba(255, 255, 255, 0.4);
    }
}

//HAMBURGER
.sq {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    margin-top: 0px;
    display: none;
    *{
        transition: 0.2s all;
    }
}
  
  .myLabel {
    cursor: pointer;
  }
  
  .line {
    width: 40px;
    height: 6px;
    background: #8C93D1;
    margin-bottom: 6px;
    border-radius: 10px;
    border-radius: 10px;
    background: #8C93D1;
  }
  
  #l1 {
    transform-origin: left;
  }
  
  input {
    display: none;
  }
  
  #myCheck:checked ~ #l1 {
    transform: rotate(45deg);
    margin-top: -12px;
    margin-left: 6px;
  }
  
  #myCheck:checked ~ #l3 {
    transform: rotate(135deg);
    margin-top: 8px;
  }
  
  #myCheck:checked ~ #l2 {
    display: none;
  }


  //media query
  @media (max-width:809px) {
    h1 {
        font-size:28px;
    }
    .sq {
        display: block;
    }
    .upper_head, .head {
        flex-direction: column;
        align-items: center;
        gap:30px;
    }
    .head{
        position: fixed;
        z-index: 2;
        margin:0;
        width: 100vw;
        border-radius: 0;
    }
    .upper_head {
       position: fixed;
       top:100px;
       right: -100%;
       
    }
    .upper_head.active {
        right: 5px;
       top:100px;
       z-index: 2;
    }
    .catalog, .nav {
        display: none;
    }
    .nav_mobile{
        display: block;
    }
    .nav_bar{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    html,body{overflow-x:hidden;}

}
